<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WPSwipeLeftTableview.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F576B03F1BC7A9EE00E3DCA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F576B0581BC7A9EE00E3DCA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F576B0631BC7A9EE00E3DCA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
